<div data-dom-uuid="{{uuid}}">
  <h5>Available columns</h5>
  <div data-available-cols>

    {{#each available_rows}}
      <div class="available-col-visual-sample" data-default-conf='{ "cols":{{cols}} }'>
        <span>{{label}}</span>
        <img src="{{../assetsPath}}{{icon}}" alt="{{label}}">
      </div>
    {{/each}}
  </div>

</div>
