<div data-pel-inline-template="row-options" data-dom-uuid="{{uuid}}">
  <h5>Col options</h5>
  <div class="options">

    <div class="form-group" data-config-id="no-gutters">
      <h5>Gutters</h5>
      <p>Specify gutters for each breakpoint if you like.</p>

      <div class="accordion" id="accordion-col-gutters">
        {{#each breakpoints}}
          <div class="card">
            <button class="btn btn-sm btn-block btn-light text-left" type="button" data-toggle="collapse" data-target="#brk-structure--group-{{trim this.value}}">
              {{this.label}} ({{trim this.value}})
            </button>

            <div id="brk-structure--group-{{trim this.value}}" class="collapse" data-parent="#accordion-col-gutters">
              <div class="p-2">
                <label class="m-0">
                  <input
                      type="radio"
                      data-breakpoint="{{key}}"
                      name="gutters_{{key}}"
                      value="gutter-{{key}}-with"
                      checked="checked"
                  >
                  With gutters
                </label>

                <label class="m-0">
                  <input
                      type="radio"
                      data-breakpoint="{{key}}"
                      name="gutters_{{key}}"
                      value="gutter-{{key}}-without"
                  >
                  Without gutters
                </label>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>


  </div>
</div>
